* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 35px;
	background-color: $color-violet;
	color: $color-whiter;
	font-size: $main-font-size;
	font-family: $main-font-general;
	background-image: url('/src/assets/img/bg-mobile.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

@include laptop {
	body {
		background-image: url('/src/assets/img/bg-desktop.svg');
		background-size: cover;
        max-height: 100vh;
	}
}
