@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$main-font-size: 15px;
$main-font-general: 'Open Sans', sans-serif;
$font-regular: 400;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$main-font: 'Poppins', sans-serif;

$font-bold: 600;
